@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597de,#111);
      
}
header{
    position: absolute;
    top: 0;
    left: o;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size:  2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active 
{
    background: #fff;
    color: #2b1055;
}

.sec
{
    position: relative;
    width:100%;
    padding: 100px;
    margin-top: 100px;
    left: 0px;
    width: 100%;
    padding: 30px 200px;
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin-bottom: 100px;    
    
}


    

.sec p
{
    font-size: 1.2em;
    color: #fff;
    margin-left: 150px;

    
}
.skills
{
    position: relative;

}
.skills h1 {
    
    font-family: 'Poppins' sans-serif;
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(135deg, #5335cf 0% , #de005e 25% , #f66e48 50% , #de005e 75%, #5335cf 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    animation: textanimate 10s linear infinite;
    margin-bottom: 10px;
    letter-spacing: px;
    color: #fff;
}
@keyframes textanimate {
    100%{
        background-position: 400%;
    }
}
.container{
    position: relative;
    width: 900px;
    display: flex;
    justify-content: space-around;
}
.container .card {
    position: relative;
    width: 250px;
    background: linear-gradient(0deg ,#1b1b1b,#222,#1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}
.container .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.container .card::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.03);
    pointer-events: none;
    z-index: 1;
}
.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}
.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.percent .number h2 {
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}
.card:hover .percent .number h2{
    color: #fff;
    font-size: 60px;
}
.percent .number h2 span {
    font-size: 24px;
    color: #777;
    transition: 0.5s;
}
.card:hover .percent .number h2 span{
    color: #fff;
}
.text {
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}
.card:hover .text{
    color: #fff;
}
svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}
svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}
svg circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
.card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440* 70) /100 );
    stroke: #00ff43;
}
.card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440* 55) /100 );
    stroke: #00a1ff;
}
.card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440* 30) /100 );
    stroke: #ff04f7;
}