@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597de);
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;

}
header{
  position: absolute;
  top: 0;
  left: o;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo
{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size:  2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}

header ul
{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
header ul li
{
  list-style: none;
  margin-left: 20px;
}

header ul li a
{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active 
{
  background: #fff;
  color: #2b1055;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  height: 290px;
  width: 350px;
  margin: 0 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  background: white;
  transition: 0.4s;
 }
.card:hover{
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);  
}
.card .img{
  height: 200px;
  width: 100%;
}
.card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .top-text
{
  padding: 5px;
}
.card .top-text .name
{
  font-size: 20px;
  font-weight: 600;
  color: #202020;
}
.card .top-text p
{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}

.card .bottom-text
{
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.card:hover .bottom-text
{
  opacity: 1;
  visibility: visible;
}
.card .bottom-text .text
{
  text-align: justify;
}
.card .bottom-text .btn
{
  margin: 10px 0;
  text-align: left;
}
.card .bottom-text .btn a
{
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2;
}
.card .bottom-text .btn a:hover{
  transform: scale(0.9);
}
